################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComplexConditions/
.exe
.cache
*.exe
TemporaryGeneratedFile*.*
bin/
Debug/
*.cache
*.suo
*.csproj
*.config
assembly*.*
*.resx
/ConditionalStatements/Training/GraphicsTurtle/Properties
/FirstSteps/AsteriskSquare/obj/Release/AsteriskSquare.csproj.FileListAbsolute.txt
